@model IEnumerable<TraceabilityVisualization.Models.KomoraCarts>

@{
    ViewData["Title"] = "KomoraCarts";
}

<h1>Index</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Trace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nr_wozka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typ_cewki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolor_cewki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TS_KOM1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Trace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nr_wozka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Typ_cewki)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kolor_cewki)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TS_KOM1)
                </td>
                @*            <td>
                        <a asp-action="Edit" asp-route-id="@item.ID_Trace">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID_Trace">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID_Trace">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
