@model TraceabilityVisualization_v2.Models.Komora

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Komora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nr_wozka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nr_wozka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typ_cewki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typ_cewki)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kolor_cewki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolor_cewki)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TS_KOM1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TS_KOM1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_Trace">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
