@model System.Data.DataTable

@{
    ViewData["Title"] = "Asortyment na działach";
}

@*<h1>Komora Sezonowania</h1>

<div class="container">


    @for(int i = 0; i < Model.Rows.Count; i++)
    {
        if(i%5 == 0) {
        @:<div class="row">
        }
              <div class="col-4">
                  <div class="card" style="max-width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title">@Model.Rows[i]["Nr_wozka"]</h5>
                          <h6 class="card-subtitle" mb-2 text-muted>Nm : @Model.Rows[i]["Nm"]</h6>
                          <p class="card-text">Wejście na komorę : @Model.Rows[i]["TS_KOM1"]</p>
                      </div>
                  </div>
              </div>

        if(i%5 == 0){
        @:</div>
        }
    }

</div>*@

<style>
    .container-fluid{
        height: 60%;
        max-height:75%;
        max-width:unset;
    }
    .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
        height: 50%;
    }
</style>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Asortyment
                    </th>
                    <th>
                        Suszarnia
                    </th>
                    <th>
                        Komora sezonowania
                    </th>
                    <th>
                        Przewijalnia
                    </th>
                    <th>
                        Suma
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Rows.Count - 1; i++)
                {

                <tr>
                    <td>
                        @Model.Rows[i]["Asortyment"]
                    </td>
                    <td>
                        @Model.Rows[i]["Suszarnia"]
                    </td>
                    <td>
                        @Model.Rows[i]["Komora"]
                    </td>
                    <td>
                        @Model.Rows[i]["Przewijalnia"]
                    </td>
                    <td>
                        <b>@Model.Rows[i]["SUMA"]</b>
                    </td>
                </tr>
                }
                <tr>
                    <td>
                        <b>@Model.Rows[Model.Rows.Count - 1]["Asortyment"]</b>
                    </td>
                    <td>
                        <b>@Model.Rows[Model.Rows.Count - 1]["Suszarnia"]</b>
                    </td>
                    <td>
                        <b>@Model.Rows[Model.Rows.Count - 1]["Komora"]</b>
                    </td>
                    <td>
                        <b>@Model.Rows[Model.Rows.Count - 1]["Przewijalnia"]</b>
                    </td>
                    <td>
                        <b>@Model.Rows[Model.Rows.Count-1]["SUMA"]</b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
    






    @*@model IEnumerable<TraceabilityVisualization_v2.Models.Komora>

        @{
            ViewData["Title"] = "Index";
        }

        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nr_wozka)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Material)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Typ_cewki)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kolor_cewki)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TS_KOM1)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nr_wozka)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Material)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Typ_cewki)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kolor_cewki)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TS_KOM1)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID_Trace">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID_Trace">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID_Trace">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    *@
